
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

    <div class="content">
        <div class="wrap">
            <div class="about">
                <h3>Hakkımızda</h3>
                <img src="https://i.hizliresim.com/h55lplw.jpg" alt="" />
                 <p> Adım Berat Niyazi Aktaş, 23 yaşındayım, Giresunluyum. 2021 yılında Düzce Üniveresitesi Elektrik-Elektronik Mühendisliği Bölümünden mezun oldum. Bu web sitesini, izleyip beğendiğim bazı filimlerden bahsetmek ve kendimi yazılım alanında geliştirip bir proje çıkarmak için çıkardım. Bu web sitesi, Asp.Net Mvc5 yapısından yararlanarak Sql veri tabanı oluşturularak yapılmıştır. Bu projeyi yaparken videolarıyla bana yardımcı olan Murat Yücedağ teşekkürlerimi bir borç bilirim. </p>
            </div>
        </div>
    </div>    



