<div class="form">
    <form method="post">
        <div>
            <input type="text" placeholder="Ad Soyad" name="AdSoyad" required />
        </div>
        <div>
            <input type="text" placeholder="Mail" name="Mail" required />
        </div>
        <div>
            <input type="text" placeholder="Konu" name="Konu" required />
        </div>
        <div>
            <input type="text" placeholder="Mesaj" name="Mesaj" required />
        </div>
        <div>
            <input type="submit" value="Gönder" class="btn btn-danger" />
        </div>
    </form>
    </div>
@*<div class="form">
    <div>
        <textarea placeholder="Mesaj" name="Mesaj"></textarea>
</div>
</div>*@
